{% extends "base.html" %}

{% block title %}{{lable}}{% endblock %}
{% block page_content %}
	<h2 style='color:#059bff; text-align: center;'>
		<strong><i>{{lable}} on {{period}}:</strong></i>
	</h2>
	<hr style="height:2px;background-color:#222;">
	<h3 style='text-align: left; color:#b2c13f#64700f;'>
		<i><strong>Weather at current dates:</strong></i>
	</h3>
	{% for weather, date in forecasts %}
		<i><h4 style='padding-left: 30px;'>
			<strong style='color: green'>{{weather}}</strong> &nbsp - &nbsp {{date}}
		</h4></i>
	{% endfor %}
{% endblock %}

{% block scripts %}
<div class="container" style='text-align: center;'>
	<hr style="height:2px;background-color:#222;">
		<div id={{ chartID|safe }} class="chart"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/js/highcharts.js"></script>
</div>
{% endblock %}
